<div class="bg-danger validationErrors" ng-show="validationErrors">
    <ul>
        <li ng-repeat="error in validationErrors">{{error}}</li>
    </ul>
</div>

<div class="form-group">
    <label for="Name">Department Name </label>
    <input name="Name"
           type="text"
           class="form-control"
           placeholder="Enter title"
           ng-model="Department.Name"
           ng-required="true" />

</div>


<span class="input-group-btn">
    <button type="button" class="btn btn-default"  ng-click="open($event)">
                               
                                
</button>
</span>
    </p>
