<form ng-submit="login()" novalidate>
    @*<label for="emailAddress">Email Address:</label> <br />
    <input type="email" ng-model="loginForm.emailAddress" id="emailAddress" /><br /><br />*@
    
    <label for="username">User Name:</label> <br />
    <input type="text" ng-model="loginForm.username" id="username" required/><br /><br />
    @*<span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
        <span ng-show="loginForm.username.$error.required">Username is required.</span>
    </span>*@
    
     <label for="password">Password:</label><br />
    <input type="password" id="password" ng-model="loginForm.password" required /><br /><br />
    @*<span ng-show="loginForm.password.$error.required">Password is required.</span>*@
  
  

    <label for="rememberMe">Remember Me:</label>
    <input type="checkbox" id="rememberMe" ng-model="loginForm.rememberMe" /><br /><br />

    <button type="submit">Login</button>
</form>

<span ng-bind="name"></span>
<div ng-if="loginForm.loginFailure">
    Login Failed! Please Register.
</div>
