<form name="form">
    <style>
        input.ng-invalid {
            border: 1px solid red;
        }

        input.ng-valid {
            border: 1px solid blue;
        }
    </style>
    <label for="username">User Name:</label><br />
    <input id="username" type="text" name="username" ng-model="registerForm.username" required />
    <span ng-show="form.username.$dirty && form.username.$error.required">Required!</span>
    <br />
    <label for="emailAddress">Email Address:</label><br />
    <input id="emailAddress" name="emailAddress" type="email" ng-model="registerForm.emailAddress" required />

    <span ng-show="form.emailAddress.$dirty && form.emailAddress.$error.required">Required!</span>
    <span ng-show="form.emailAddress.$dirty && form.emailAddress.$error.email">Not an email!</span>
    <br />
    <label for="Departments">Department:</label><br />
    <select ng-model="Departments" name="dept" ng-options="d.Name for d in DepartmentsList" required>
        <option value="">Select Department</option>
    </select>
    <span ng-show="form.dept.$dirty && form.dept.$error.required">Please Select!</span>

    <br />

    <label for="Roles">Role:</label><br />
    <select ng-model="Roles" name="role" ng-options="r.Name for r in RolesList" required>
        <option value="">Select Role</option>
    </select>
    <span ng-show="form.role.$dirty && form.role.$error.required">Please Select!</span>
    <br />
    <br />
    <button type="submit" ng-disabled="form.$invalid" ng-click="Register(Roles)">Register</button>
    <br />
    <span ng-bind="name"></span>
</form>