@{
    ViewBag.Title = "AddEmployee";
}

<h2>Add New Employee</h2>
<table>
    <tr>
        @*<td>Id</td>*@
        <td><input type="hidden" ng-model="Id" />  </td>
    </tr>
    <tr>
        <td>EmpName</td>
        <td><input type="text" ng-model="EmpName" />  </td>
    </tr>
    <tr>
        <td>Salary</td>
        <td><input type="text" ng-model="Salary" />  </td>
    </tr>
    <tr>
            <td>DeptName</td>
            <td><input type="text" ng-model="DeptName" />  </td>
        </tr>
    @*<tr>
        <td>DeptName</td>
        <td>

            <select ng-model="Departments" ng-options="d.Name for d in DepartmentsList">
                <option value="">Select Department</option>
            </select>
        </td>
    </tr>*@
    <tr>
        <td>Designation</td>
        <td><input type="text" ng-model="Designation" />  </td>
    </tr>
</table>
<input type="button" value="Save" ng-click="save()" />