@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td><a href="#/showemployees"> Show Employees </a></td>
                <td><a href="#/addemployee"> Add Employee </a></td>
            </tr>
        </table>
    </div>
</body>
</html>
